@font-face
  font-family: "Poppins"
  src: local("Poppins-Bold"),url("./Poppins-Bold.ttf") format("truetype")
  font-weight: bold
@font-face
  font-family: "Poppins"
  src: local("Poppins-Light"),url("./Poppins-Light.ttf") format("truetype")
  font-weight: 300
/**
  VARIABLES
  */
$dark: #242424
$bright: #e2e2e2

/**
  STYLING
  */
html, body
  font-family: Poppins
  background: $dark
  color: $bright
#app
  .state
    position: fixed
    z-index: 10
    top: 0
    right: 0
    width: 320px
  .user
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 99
    .play-forbidden
      opacity: 0.7
      pointer-events: none
  .card-wrapper
    .user-card
      width: 100%
      position: relative
      &::after
        content:""
        width: calc(100% - 12px)
        height: calc(100% - 12px)
        border-radius: 16px
        display: block
        position: absolute
        top: 6px
        left:6px
        background: rgb(251,74,151)
        background: radial-gradient(circle, rgba(251,74,151,1) 0%, rgba(148,187,233,1) 100%)
      .h1
        position: relative
        z-index:10